

@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Judson&family=Lato&family=Montserrat:wght@500&family=Roboto&family=Work+Sans&display=swap');
tml, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #022027;
}

/* Set the container to full height */
.container-full-height {
  height: 100%;
}

/* Style the left column with a background color */
.left-column {
 
  height: 100%;
}

/* Style the right column with a different background color */
.right-column {
 
  height: 100%;
}
.login-container {
  width: 300px;
  height:300px;
  margin-top:30%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  border-color: #22eff1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  align-items: center;
}

.form-group {
  margin-bottom: 15px;
  color: #ccc;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  align-items: center;
}
.token-dialog{
  color:#fff;
}
.card-text{
  text-align: center;
  font-weight: 600;
}

.card-title{
  text-align: center;
  font-size: x-large;
}

.cards{
  width:50%;
  height: 30%;
  margin-top: 10%;
  margin-left: 25%;
  background-color: black;
  border-color: #22eff1;
  color: #fff;
}
.btns{
   margin-left:35%;
   background-color: #27abc9;
}
.tokencard{
  width: 250px;
  margin-bottom: 15%;
  margin-left:30%;
  background-color: #022027;
  color: #fff;
  border-color: #22eff1;
  border-radius:5%;

}
.list-group{
  color:black;
  
}
.table {
  
  color: #fff;
  margin-top:10%;
  margin-left:10%;
  width: 250px;
  border: 2px solid #22eff1;
}
.capcard{
  width: 250px;
  margin-top: 15%;
  margin-left:30%;
  background-color: black;
  color: #fff;
  border-color: #22eff1;
}
.refresh{
  color:dark blue;
}
.tokenhead{
  font-size:16px;
}
.borders{
border-color:#22eff1;
}
.canbtn{
  margin-left:10%;
}
.captcha-text {
  font-family: 'Arial', sans-serif; /* Use a custom font or one that looks like captcha fonts */
  font-size: 24px;
  color:white; /* Text color */
  letter-spacing: 2px; /* Increase letter spacing for distortion */
  transform: rotate(2deg); /* Rotate the text slightly */
  margin: 5px 0;
  background-color:#70a4cf;
}
.switches{

  margin-left:45%;
border-radius:5px;
margin-top:30px;


}

.powbtn, .posbtn {
  border-radius:10px;
 
 background-color: #2e2d2d;  
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  outline: none;
  width:10%;
  margin-right:2%;
 
}
.active {
  background-color: #161515;  
  color: white;
  border: 1px solid#22eff1;
  border-color:#22eff1; 
}


.status {
  opacity: 0;
  
  transition:  width 2s,opacity 0.8s ease-in, height 0.8s ease-in-out;
  color: white;
  margin-top:5%;
  margin-left:2%;
  background-color: #022027;
  width:80%;
  height:80%;
  border-radius: 10px;
  font-weight: 700;
  font-size: large;
}
.alerts{
margin-top:10%;
}

.status.show {
  opacity: 1;
  height: auto;
}

.btnss{
  margin-left:35%;
   background-color: rgb(29, 159, 192);
   color: #fff;
}

.material-icons{
  text-align: center;
  margin-top:10%;
  font-size:70px;
  color:red;
 
}

.text{
  font-size: x-large;
}
.text1 {
  opacity: 0;
  transition: opacity 1s;
}

.visible {
  opacity: 1;
}
.alerts{
  background-color: #022027;
  color:#fff;
  border-radius: 5%;
  border-color:#22eff1;
}
.card-text{
  font-size: 15px;
  color: #fff;

}
.details-btn{
  margin-left: 55%;
  border-radius: 15px;
  margin-bottom: 10px;
}
.authority-login-link{
  cursor: pointer;
  color: #007bff;

}
.next-button{
  border-color: #22eff1;


}
.tokens{
  color: #fff;
}
.logins{
  margin-left:10%;
}
.para{
  color:#fff;
}
.tampcard{
  width:70%;
  height:60%;
  margin-top:5%;
 border-radius: 10px;
  font-size: medium;
}
.tampbtn{
  margin-left:25%;
}
.timer{
  color:yellow;
  margin-bottom: 15px;
}
.report-button{
  margin-left :65%;
  background-color: red;
  margin-top:-5%;
  height:20%;

}
.reportcard{
  width:70%;
 
}
.form-check-label{
  font-size: large;
}
.form-check-input{
  height:15%;
}
.checkbox-button{
  margin-top:3%;
  border: 2px;
  border-color: #22eff1;
  background-color: rgb(29, 159, 192);
  color: #fff;
  margin-left:20%;
  margin-bottom:10%;
}
.checkbox{
  background-color: #022027;
  color:#fff;
  border-color: #22eff1;
  width:80%;
  height:60%;
  border-radius: 6px;
  margin-left:10%;
  

}
.form-check{
  margin-left:10%;
}
.card-tittle{
  text-align:center;
  
}
.reportbtn{
  background-color: #022027;
  color:#fff;
}
.alerthead{
  text-align:center;
  font-size: x-large;
  margin-top:-10%;
}