.count{
    width: 100px;
   border-color: antiquewhite;
    height: 200px;
}
.count-btn{
    /* margin: 10px; */
    text-align: center;
    margin: 10px;
}
.vote{

    width: 200px;
    margin-top: 10%;
    margin: 0 auto;
   color: aliceblue;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-color:#f8fafa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}
.count-ip{
width: 200px;
}
.mb-3{
    margin: 10px;
}
.vote-ip{
    width: 100px;
}
.input-group{
    width: 50%;
}
