.details{
width: 70%;
/* border-radius: 30px */

}
/* Target the overall accordion */
.details {
    background-color: black;
    border-radius: 10px; /* This will add border radius */
    border-color: green
}

/* Change color of the text inside the accordion */
.details .MuiTypography-root {
    color: white;
}

/* Change color of the expand icon */
.details .MuiSvgIcon-root {
    color: white;
}
.next-button{
  align-items: end;
}
.details-btn{
    margin-left: 65%;
    border-radius: 15px;
    margin-bottom: 10px;
}
.button-container {
    margin-bottom: 20px;
  }
  
  .channel-button {
    padding: 10px 20px;
    margin-left: 20px;
    margin-top:20px ;
    cursor: pointer;
    border:#22eff1 ;
    outline: none;
    background-color:Black;
    transition: background-color 0.3s;
    border-radius: 15px;
  }
  
  button.actives {
    background-color: #007BFF;
    color: white;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
    margin-left: 60px;
  }
  